body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PAGES */

iframe {
  width:50vw;
  height:28.5vw;
  border-radius: 25px;
}

.darkened-image {
  filter: brightness(50%);
  height:auto;
}

header {
  padding: 0.25em;
  background:rgb(247, 176, 45);
  border-bottom: solid;
  border-color: rgb(209, 150, 40);
}

header h1 {
  margin-top: -15px;
  padding-top: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
}

header h1:hover {
  cursor:pointer;
  background-color: rgb(255, 196, 87);
}

footer {
  background:rgb(247, 176, 45);
  height: 140px;
  min-height: 15vh;
  border-top: solid;
  border-color: rgb(209, 150, 40);
}

.shadow-1 {
  filter:drop-shadow(10px 10px 2px rgb(129, 86, 5));
}

.shadow-2 {
  filter:drop-shadow(0.65vw 7px 1px rgb(209, 150, 40));
}

article {
  border-radius: 25px;
  background:rgb(247, 176, 45);
  margin: 1vh;
  padding: 0 0 7px;
  filter:drop-shadow(10px 10px 2px rgb(129, 86, 5));
}

article h3 {
  margin: 1vh;
  text-align: center;
}

article img {
  border-radius: 25px;
}

.bullet-point {
  margin: 1vw;
  margin-top: 0;
  margin-bottom: 0.75vw;
  background: rgb(255, 216, 143);
  border-radius: 25px;
}

.page {
  background:rgb(255, 216, 143);
  min-height: 85vh;
  padding-bottom: 1vh;
}

.carousel {
  margin: 1vh;
}

/* APP */

/* Right click menu */
.ContextMenu {
  background-color: white;
  border-style: solid;
  border-width: 0.2vh;
  width: fit-content;
}

.ContextMenu button {
  background-color: white;
  border: none;
  padding: 1vh 1vh 1vh 1vh;
  text-align:left;
  font-size: 2vh;
  margin: 0.2vh 0.2vh;
  cursor: pointer;
  width: 99%;
}

.ContextMenu button:hover {
  background-color: rgb(235, 235, 235);
}

/* Containers */
.box {
  background-color: rgb(255, 196, 87);
  border-style: solid;
  text-align:center;
  padding: 15px 15px 15px 15px;
  cursor: '';
  /* overflow:scroll; */
}

.box textarea{
  text-align:center;
  font-size:inherit;
}

.box h3 {
  margin-top: 0;
  padding: 1px 2px 1px 2px;
  width: fit-content;
  margin: 0 auto;
}

.box h3:hover {
  background-color: rgb(247, 176, 45);
}

/* Workspace setup */
.work-space {
  background: #8be7b4;
  overflow:scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 92vh;
  padding: 1vh, 1vh, 1vh, 1vh;
}

svg {
  position:fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.scb button {
  height: 7vh;
  font-size: 2.5vh;
  border-width: 0.5vh;
  margin: 0.2vh 0.2vh 0.2vh 0.2vh;
  padding: 0;
  z-index: 10;
}

/* Screen boarder */
.scb {
  position: fixed;
  background-color: rgb(252, 207, 110);
  z-index: 10;
}

.bottom {
  top: 92vh;
  height: 8vh;
  width: 100vw;
  border-top: solid;
  font-size: 1.5vh;
}
